<body>
  <header class="header-content header">
    <div class="logo-content">
      <img
        src="../assets/icons/addressBook.png"
        alt="logo"
      />
      <div>
        <span class="addressBook-text">Address</span><br />
        <span class="addressBook-text addressBook-book">Book</span>
      </div>
    </div>
  </header>
<div class="container border border-primary rounded shadow-lg p-3 mb-5 bg-white rounded">
    <form [formGroup]="formGroup" (ngSubmit)="onSubmit()">
      <div class="example-container ">
        <mat-form-field class="mat-form-field-infix"  appearance="fill">
          <mat-label>Enter your email</mat-label>
             <input matInput placeholder="pat@example.com" formControlName="username" required>
           </mat-form-field>

          <mat-form-field style="width: 450px;" appearance="fill">
              <mat-label>Enter your password</mat-label>
              <input matInput  formControlName="password">
           
        </mat-form-field><br>
        
      </div>
      <button style="margin-left: 32%; width: 40%;" type="submit" class="btn btn-primary btn-lg">Login</button>
    </form>
</div>


  